extends .././templates/default

block content
 br
 br
 br
 br
 .panel.panel-default
      .panel-heading
        h2.panel-title SISTEMA DE GESTIÓN
        br
        h2.panel-title 
           small  Perfil de Usuario 
       
  
     if isAuthenticated
       
   font(size='5')  

     p= 'Bienvenido' +' '+ user.nombre
  div(class='row')        
    div(class='col-md-3')
     div(class='panel panel-primary')
      div(class='panel-heading')
        h3.panel-title Nuevos Ingresos
       div(class='panel-body')
        div(class='form-group has-success')
         font(size='3')
           p
            |Ingresar Imagenes: 
            a(href='menu') Nueva Imagen
        h3.panel-title Reportes 
        div(class='form-group has-success')
        font(size='3')
          p
            |Reportes  : 
            a(href='/rprtsmn' target='_blank') Menu de Reportes
         
        
                  
             
    div(class='col-md-6')
     img(src='/images/imagmed.png' width="700" height="400")       
    div(class='col-md-3') 
      div(class='panel panel-primary')
       div(class='panel-heading')
         h3.panel-title Nueva Busqueda 
        div(class='panel-body')
         div(class='form-group has-success')
          font(size='3')
            p
             |Imagenes: 
             a(href='views') Por paciente
          font(size='3')
            p
             |Imagenes: 
             a(href='viewarea') Por Área
          font(size='3')
            p
             |Imagenes: 
             a(href='viewprocess') Por Procedimiento
          font(size='3')
            p
             |Imagenes: 
             a(href='viewtechnique') Por Técnica	
          h3.panel-title Filtrado de Imagen
        div(class='panel-body')
         div(class='form-group has-success')
          font(size='3')
            p
             |Filtros: 
             a(href='pprimg') Filtrado de Imagen
 .container

    hr        
    .col-md-4
    
       p
           | UNIVERSIDAD CENTRAL DEL ECUADOR
           br
           | Todos los derechos reservados
           br
           img(src='/images/imagmedpequeño.png' width="160" height="60")
    .col-md-4
     .text-center.center-block
       h2.txt-railway Síguenos
       br
       a(href='https://www.facebook.com/bootsnipp')
         i#social-fb.fa.fa-facebook-square.fa-3x.social 
       a(href='https://twitter.com/bootsnipp')
         i#social-tw.fa.fa-twitter-square.fa-3x.social 
       a(href='https://plus.google.com/+Bootsnipp-page')
         i#social-gp.fa.fa-google-plus-square.fa-3x.social 
       a(href='mailto:bootsnipp@gmail.com')
         i#social-em.fa.fa-envelope-square.fa-3x.social 
    .col-md-4

        h3 Contacto:
        p Dirección: Av.Universitaria.
        p Telefono: 3453-529  
        p Correo: lapadilla@rutatec.com    

      