extends ../templates/default

block content
 br
 br
 br
 br
 .panel.panel-default
      .panel-heading
        h2.panel-title SISTEMA DE GESTIÓN
           small   Procesamiento de Imagenes

    h1 Filtros 
    div(class='panel panel-default')
     div(class='panel-heading')
       h2.panel-title 
         a(data-toggle='collapse', href='#collapse1') Imagnes por Paciente
      #collapse1.panel-collapse.collapse 
      form(method="POST", enctype="multipart/form-data", action="http://localhost:3000/users/pprimg2")
        div(class='form-group')
         
         label(for="selectpickerPaciente") Pacientes
         select(class="selectpicker show-tick" data-width="auto" name="selectpickerPaciente" title='Escoger Paciente')
          -each item in names

           option(data-icon='glyphicon-user') #{item.name}
        div(class='form-group')    
         input(type="submit" value="Buscar" class='btn btn-primary') 

     div(class='panel-heading')
       h2.panel-title 
         a(data-toggle='collapse', href='#collapse2') Imagnes por Area
      #collapse2.panel-collapse.collapse 
        div(class='form-group')
        label(for="selectpickerArea") Area
        select(class="selectpicker show-tick" data-width="auto" name="selectpickerArea" title='Escoger Area')
         -each item in typesAr

          option #{item.typear}

     div(class='panel-heading')
       h2.panel-title 
         a(data-toggle='collapse', href='#collapse3') Imagnes por Tecnica
      #collapse3.panel-collapse.collapse 
        div(class='form-group')
        label(for="selectpickerTechnique") Busqueda por Tecnica de Escaneo
        select(class="selectpicker show-tick" data-width="auto" name="selectpickerTechnique" title='Escoger Tecnica de Escaneo')
         -each item in typesTh
          option #{item.typeth}

     div(class='panel-heading')
       h2.panel-title 
         a(data-toggle='collapse', href='#collapse4') Imagnes por Procedimiento
      #collapse4.panel-collapse.collapse 
        div(class='form-group')
        label(for="selectpickerProcess") Busqueda por Proceso
        select(class="selectpicker show-tick" data-width="auto" name="selectpickerProcess" title='Escoger Proceso')
         -each item in typesPr

          option #{item.typepr} 