extends ../templates/default

block content
 br
 br
 br
 br
 .panel.panel-default
      .panel-heading
        h2.panel-title SISTEMA DE GESTIÓN
           small   REPORTES

    h1 Filtros 
    div(class='panel panel-default')
     div(class='panel-heading')
       h2.panel-title 
         a(data-toggle='collapse', href='#collapse1') Reporte de Imagnes por Paciente
      #collapse1.panel-collapse.collapse 
      form(method="POST", enctype="multipart/form-data", action="rspPaciente")
        div(class='form-group')
         
         label(for="selectpickerPaciente") Pacientes
         select(class="selectpicker show-tick" data-width="auto" name="selectpickerPaciente" title='Escoger Paciente')
          -each item in names

           option(data-icon='glyphicon-user') #{item.name}
        div(class='form-group')    
         input(type="submit" value="Generar" class='btn btn-primary') 

     div(class='panel-heading')
       h2.panel-title 
         a(data-toggle='collapse', href='#collapse2') Reportes de Imagenes por Características
      #collapse2.panel-collapse.collapse
      form(method="POST", enctype="multipart/form-data", action="/rspImgCrt") 
        div(class='form-group')
        label(for="selectpickerCrts") Características
        select(class="selectpicker show-tick" data-width="auto" name="selectpickerCrts" title='Características')
          option AREA
          option PROCEDIMIENTO
          option TECNICA
        div(class='form-group')    
         input(type="submit" value="Generar" class='btn btn-primary') 

     div(class='panel-heading')
       h2.panel-title 
         a(data-toggle='collapse', href='#collapse3') Reporte Imagenes - Doctores
      #collapse3.panel-collapse.collapse 
        div(class='form-group')
        label(for="RptImgDr") Reporte Imageges Doctores
        form(method="GET", enctype="multipart/form-data", action="rspOne")
         input(type="submit" value="Generar" class='btn btn-primary') 

    

     div(class='panel-heading')
       h2.panel-title 
         a(data-toggle='collapse', href='#collapse5') Lista de Doctores
      #collapse5.panel-collapse.collapse 
        div(class='form-group')
        label(for="RptImgDr") Lista de Doctores
        form(method="GET", enctype="multipart/form-data", action="rsptoDr")
         input(type="submit" value="Generar" class='btn btn-primary') 

     