extends .././templates/default

block content
  br
  br
  br
  br
  br
  br
  br
  form(method="POST", enctype="multipart/form-data", action="http://localhost:3000/users/saved")
   div(class='row')
      div(class='col-md-2 col-md-offset-1')
       
       div(class='form-group has-success')
        
           label(for='doctor') Doctor
           input(type="text", name="doctorname" value= user.nombre class='form-control') 
       div(class='form-group has-success')
         label(for='paciente') Paciente
           input(type="text", name="paciente" value= paciente class='form-control') 
       div(class='form-group has-success')
           label(for='tipovista') Tipo de Vista
           input(type="text", name="tipovista" value= tipovista class='form-control')
       div(class='form-group has-success')
           label(for='area') Área
           input(type="text", name="area" value= area class='form-control') 
       div(class='form-group has-success')
           label(for='tecnica') Técnica
           input(type="text", name="tecnica" value= tecnica class='form-control') 
       div(class='form-group has-success')
           label(for='procedimiento') Procedimiento
           input(type="text", name="procedimiento" value= procedimiento class='form-control') 
       div(class='form-group has-success')
           label(for='enfoque') Enfoque
           input(type="text", name="enfoque" value= enfoque class='form-control')
       div(class='form-group has-success')
           label(for='observaciones') Observaciones
           input(type="textarea",id='observaciones', name="observaciones" value= enfoque class='form-control')
            
           input(type="hidden", name="img" value= img)        
      div(class='col-md-4 col-md-offset-3')    
       div(class='form-group has-success')
         div(class="item")
            if img
              img(src="../uploads/upload_"+img alt="Chicago" width="500" height="400")
            if !img
              img(src="" alt="" width="500" height="400") 
       div(class='form-group')
            input(type="submit" value="Guardar" class="btn btn-primary")
 .container

    hr        
    .col-md-4
    
       p
           | UNIVERSIDAD CENTRAL DEL ECUADOR
           br
           | Todos los derechos reservados
           br
           img(src='/images/imagmedpequeño.png' width="160" height="60")
    .col-md-4
     .text-center.center-block
       h2.txt-railway Síguenos
       br
       a(href='https://www.facebook.com/bootsnipp')
         i#social-fb.fa.fa-facebook-square.fa-3x.social 
       a(href='https://twitter.com/bootsnipp')
         i#social-tw.fa.fa-twitter-square.fa-3x.social 
       a(href='https://plus.google.com/+Bootsnipp-page')
         i#social-gp.fa.fa-google-plus-square.fa-3x.social 
       a(href='mailto:bootsnipp@gmail.com')
         i#social-em.fa.fa-envelope-square.fa-3x.social 
    .col-md-4

        h3 Contacto:
        p Dirección: Av.Universitaria.
        p Telefono: 3453-529  
        p Correo: lapadilla@rutatec.com