extends .././templates/default

block content


  form(method="POST", enctype="multipart/form-data", action="http://localhost:3000/users/saved")
   div(class='form-group')
    select( class="selectpicker" data-style="btn-info" name="selectpicker1")
     option(value='Paciente 1')  Paciente 1
     option(value='Paciente 2') Paciente 2
     option(value='Paciente 3') Paciente 3
     option(value='Paciente 4') Paciente 4
     option(value='Paciente 5') Paciente 5
     option(value='Paciente 6') zPaciente 5
   div(class='form-g roup')
      a= paciente
      input(type="text", name="tipo" value= tipo) 
   div(class='form-group')
      a= 'AREA'
      input(type="text", name="area" value= area) 
      input(type="hidden", name="img" value= img) 
   div(class="item")
     if img
       img(src="../uploads/upload_"+img alt="Chicago" width="500" height="400")
     if !img
       img(src="" alt="" width="500" height="400")
   div(class='form-group')
      input(type="submit" value="Enviar Datos")